*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.DBlock {
    display: block;
}

.DFlex {
    display: flex;
    align-items: center;
    border-bottom: black solid 1px;
    box-shadow: rgba(0, 0, 0, 0.447) 0px 2px 1px;
    margin-bottom: 10px;

}
.DFlex img{
    width: 200px;
}
header {
    width: 750px;
    text-align: center;
    margin: auto;    
}
.menuMobile{
    display: none;
}
.menuTop{
   align-content: center;   
}
nav {
    width: 100%;
    background-color: rgb(255, 235, 205);
    display: flex;    
}
nav li {
    margin: 10px;
    list-style: none;   
    margin: 20px auto;
}
nav li a{
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: black;
    transition: 200ms;
}
nav li a:hover{
    background-color: #E3654A;
    color: white;
}
main {
    width: 750px;
    margin: auto;
}
.heroanim > a img{
    width: 100%;
}
.gradeProdutos {
    display: inline-flex;
    flex-wrap: wrap;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
}
.gradeProdutos a{
    text-decoration: none;
    
}
.produto{
    height: 410px;
    margin: 3px;
    border: rgb(232, 232, 232) solid 1px;
    width: 240px;
    text-align: center;
    border-radius: 12px;
    transition: 200ms;
    margin-bottom: 10px;
    
}
.produto h1{
    position: absolute;
    font-size: 15px;
    margin: 15px;
    padding: 5px;
    background-color: #E3654A;
    border-radius: 12px;
    color: white;
}
.categoria{
    font-size: 12px;
    color: rgb(97, 97, 97);
}
.produto h2{
    font-size: 16px;
    width: 150px;
    height: 80px;
    margin: 12px auto;
    color: rgb(57, 57, 57);
    
}
.produto img {
    width: 100%;
    height: 185px;
}
.produto button {
    width: 120px;
    padding: 5px;
    margin: 10px;
    border: #E3654A solid 1px;
    border-radius: 3px;
    background-color: rgba(210, 105, 30, 0);
    cursor: pointer;
    color: #E3654A;
    transition: 200ms;
}
.produto button:hover{
    background-color: #E3654A;
    color: white;
    
}
.precoVelho{
    color: #E3654A;
    font-weight: 700;
    font-size: 15px;
}
.novoPreco{
    margin: 2px;
    color: rgb(40, 40, 40);
}
.novoPreco span {
    font-size: 20px;
    font-weight: 700;
}
.produto:hover{
    margin-top: -5px;
    box-shadow: rgba(50, 50, 50, 0.461) 0px 10px 15px 0px;
}
.whats{
    width: 100%;
    height: 70px;
    position: fixed;
    right: 0;
    bottom: 50px;
    
    
}
.whats > a i {
    
    margin: auto;
    color: #323232;
    background-color: #00e11a ;
    border-radius: 50%;
    font-size: 70px;
    margin-left: 60%;
    cursor: pointer;
    
}
.whats > a i:hover {
    filter: saturate(150%);
    
    
}


@media (max-width: 360px) {
    header{
        width: 360px;
    }
    main {
        width: 360px;        
    }
    nav{
        display: block;
        font-size: 40px;
        
    }
    nav > li {
        margin-right: 10px;
        background-color: #E3654A;
        border-radius: 8px;
        padding: 10px;
        margin-left: 5px;
    }
    nav li a {
        color: white;
    }
    .heroanim > a img{
        height: 170px;
    }
    .bb{
       /* border: black solid 1px;*/
    }
    .menuMobile {   
       width: 360px;
        padding-right: 300px;
        font-size: 40px;
        display: block;
        
        
    }
    .opcoesMenu {
        display: none;
    }
    .Dnone{
        display: none;
    }

    .produto {
        width: 160px;
        justify-content: space-between;
        margin-left: 12px;
        height: 380px;
        
    }
    
    .produto img {
        width: 100%;
    }
    .produto h1{
        position: absolute;
        font-size: 12px;
        margin: 8px;
        padding: 5px;
        background-color: #E3654A;
        border-radius: 12px;
        color: white;
    }
    .produto h2{
        height: 50px;
        font-size: 12px;
        
    }
    .produto button {
        width: 120px;
        padding: 5px;
        margin: 10px;
        border: #E3654A solid 1px;
        border-radius: 3px;
        background-color: rgba(210, 105, 30, 0);
        cursor: pointer;
        color: #E3654A;
        transition: 200ms;
    }
    
    .precoVelho{
        color: #E3654A;
        font-weight: 700;
        font-size: 15px;
    }
    .novoPreco{
        margin: 2px;
        color: rgb(40, 40, 40);
    }
    .novoPreco span {
        font-size: 20px;
        font-weight: 700;
    }
    .produto:hover{
        margin-top: -5px;
        box-shadow: none;
    }
    footer{
        width: 360px;
    }
}