*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.iconF{
    display: none;
}
/*******Quem Somos *********/
.sobreDis > h2{
   
    text-align: center;
}
.sobreDis{
    padding: 20px;
    line-height: 2rem;
}
.modDepoimentos > img{
    width: 100%;
}
.depoimentos{
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-natura-pintado-a-mao_589706-111.jpg);
    margin: auto;
    background-size: cover;
    position: relative;
}
.quem-somos{
    
    background-color: rgba(255, 255, 255, 0.795);
    height: 280px;
    filter: brightness(100%);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px;
}
.qDireito{
    width: 33%;
    position: relative;
    height: 10px;    
    text-align: center;
   
}
.qDireito > img{
    width: 150px;
}

.qMeio{
    width: 33%;
    position: relative;
    height: 10px;
    text-align: center;
      
}
.qMeio > p{
    background-color: yellow;
    color: rgb(0, 0, 0);

}
.qEsq{
    width: 33%;
    align-content: center;
    position: relative;
    text-align: center;   
   
}
.qEsq > button{
    margin-top: 20px;
    font-weight: 700;
    font-size: larger;
    padding: 10px;
    color: rgb(250, 233, 0);
    background-color: purple;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.qEsq > button:hover{
    
    background-color: rgb(219, 108, 219);
    
}





/*****Fim quem somos ******/

.displayn{
    display: none;
}
.anunImp{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 222, 171);
    color: rgb(0, 0, 0);
}
.anunImp > div{
    text-align: center;
}
.anunImp > div button{
    border-radius: 5px;
    padding: 8px;
    border: rgb(211, 116, 0) solid 1px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(211, 116, 0);
    cursor: pointer;
}
.anunImp > div button:hover{
    
    background-color: rgb(211, 116, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.anunImp > i{
    cursor: pointer;
    margin-left: 20px;
    font-size: 30px;
}
body {
    background: url() no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.DBlock {
    display: block;
}
.flex {
    display: flex;
}
#linkMP{
    margin-left: 20px;
    margin-right: 20px;
}
.DFlex {
    display: flex;
    align-items: center;
    border-bottom: black solid 1px;
    box-shadow: rgba(0, 0, 0, 0.447) 0px 2px 1px;
    margin-bottom: 10px;

}
.DFlex img{
    width: 200px;
}
header {
    width: 1000px;
    text-align: center;
    margin: auto;    
}
.menuMobile{
    display: none;
}
#MenuPrincipal {
    min-height: 58px;
    background-color: blanchedalmond;
}
#MenuPrincipal > img{
    width: 100%;
}
.menuTop{
    
   align-content: center;   
}
nav {
    width: 100%;
    background-color: rgb(255, 235, 205);
    display: flex;    
}
nav li {
    margin: 10px;
    list-style: none;   
    margin: 20px auto;
}
nav li a{
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: black;
    transition: 200ms;
}
nav li a:hover{
    background-color: #E3654A;
    color: white;
}
main {
    min-height: 92.6vh;
    background-color: white;
    width: 1000px;
    margin: auto;
}
.heroanim > a img{
    width: 100%;
}
.promohero{
    width: 100%;
    min-height: 300px;
    min-height: 250px;
    height: auto;
    overflow: hidden;
    align-items: center;
    align-content: center;
    border-left: rgba(159, 159, 159, 0.55) solid 2px;
    border-right: rgba(159, 159, 159, 0.632) solid 2px;
}
.logoOn{
    min-height: 0px;
}
.logoOn > a img{
    padding: 5px;
    width: 200px;
}
.buscaNatur{
    border: rgb(159, 159, 159) solid 1px;    
    padding: 10px 0px 10px 20px;
    justify-content: center;
    margin: 20px;
    border-radius: 4px;
}
.buscaNatur:hover{
    border: rgb(250, 79, 17) solid 1px;    
    
}
.buscN {
    display: flex;
}
.buscN > div {
    padding-top: 5px;
}
.buscN input{
    margin-left: 5px;
    margin-right: 10px;
    width: 100%;
    height: 30px;
    border: none;
}

.promohero > a img{
    max-width: 100%;
    min-height: 250px;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.promohero > a img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}
.gradeProdutos {
    padding: 8px;
    display: inline-flex;
    flex-wrap: wrap;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
}
.gradeProdutos a{
    text-decoration: none;
    
}
.produto{
    padding: 5px;
    height: 410px;
    margin: 3px;
    border: rgb(232, 232, 232) solid 1px;
    width: 240px;
    text-align: center;
    border-radius: 12px;
    transition: 200ms;
    margin-bottom: 10px;
    
}
.produto h1{
    position: absolute;
    font-size: 15px;
    margin: 15px;
    padding: 5px;
    background-color: #E3654A;
    border-radius: 12px;
    color: white;
}
.categoria{
    font-size: 12px;
    color: rgb(97, 97, 97);
}
.produto h2{
    font-size: 16px;
    width: 200px;
    height: 60px;
    margin: 12px auto;
    color: rgb(57, 57, 57);
    
}
.produto img {
    width: 100%;
    height: 185px;
}
.produto button {
    width: 120px;
    padding: 5px;
    margin: 10px;
    border: #E3654A solid 1px;
    border-radius: 3px;
    background-color: rgba(210, 105, 30, 0);
    cursor: pointer;
    color: #E3654A;
    transition: 200ms;
}
.produto button:hover{
    background-color: #E3654A;
    color: white;
    
}
.precoVelho{
    color: #E3654A;
    font-weight: 700;
    font-size: 15px;
}
.novoPreco{
    margin: 2px;
    color: rgb(40, 40, 40);
}
.novoPreco span {
    font-size: 20px;
    font-weight: 700;
}
.produto:hover{
    margin-top: -5px;
    box-shadow: rgba(50, 50, 50, 0.461) 0px 10px 15px 0px;
}
.parcel {
    font-size: 12px;
    color: rgb(43, 43, 43);
}
.parcel > span {
    font-size: 15px;
    font-weight: 700;
}
.whats{
    width: 100%;
    height: 70px;
    position: fixed;
    right: 0;
    bottom: 50px;
    
    
}
.whats > a i {
    
    margin: auto;
    color: #323232;
    background-color: #00e11a ;
    border-radius: 50%;
    font-size: 70px;
    margin-left: 60%;
    cursor: pointer;
    
}
.whats > a i:hover {
    filter: saturate(150%);
    
    
}
/*RESOLUÇÃO 768px*/
@media (max-width: 768px) {
    header{
        width: 768px;
    }
    .promohero{
        width: 100%;
        min-height: 100px;
        
    }
    
    main {
        width: 768px;        
    }
    nav{
        display: block;
        font-size: 40px;
        
        
    }
    nav > li {
        margin-right: 10px;
        background-color: #E3654A;
        border-radius: 8px;
        padding: 10px;
        margin-left: 5px;
    }
    nav li a {
        color: white;
    }
    .heroanim > a img{
        height: 170px;
    }
    .bb{
       /* border: black solid 1px;*/
    }
    .menuMobile {   
        width: 768px;
        padding-right: 300px;
        font-size: 40px;
        display: block;
        margin-top: -20px;
    }
    .logoOn > a img {
        padding: -15px;
        width: 171px;
    }
    .opcoesMenu {
        display: none;
    }
    .Dnone{
        display: none;
    }

    .produto {
        width: 230px;
        justify-content: space-between;
        margin-left: 12px;
        height: 390px;
        padding: 2px;
        
    }
    
    .produto img {
        width: 100%;
    }
    .produto h1{
        position: absolute;
        font-size: 12px;
        margin: 8px;
        padding: 5px;
        background-color: #E3654A;
        border-radius: 12px;
        color: white;
    }
    .produto h2{
        height: 35px;
        width: 100%;
        font-size: 12px;
        
    }
    .produto button {
        width: 120px;
        padding: 5px;
        margin: 10px;
        border: #E3654A solid 1px;
        border-radius: 3px;
        background-color: rgba(210, 105, 30, 0);
        cursor: pointer;
        color: #E3654A;
        transition: 200ms;
    }
    .buscaNatur {
        display: block;
    }
    
    .precoVelho{
        color: #E3654A;
        font-weight: 700;
        font-size: 15px;
    }
    .novoPreco{
        margin: 2px;
        color: rgb(40, 40, 40);
    }
    .novoPreco span {
        font-size: 20px;
        font-weight: 700;
    }
    .produto:hover{
        margin-top: 0px;
        box-shadow: none;
    }
    .whats > a i {
    
        margin: auto;
        color: #222222;
        background-color: #019a1290 ;
        border-radius: 10%;
        font-size: 60px;
        padding: 10px;
        margin-left: 75%;
        cursor: pointer;
        
    }
    .promohero > a img {
        
        min-height: 142px;
        
    }
    footer{
        width: 360px;
    }
}
/* RESOLUÇÃO 360 PX */
@media (max-width: 360px) {
    header{
        width: 360px;
    }
    .promohero{
        width: 100%;
        min-height: 100px;
        
    }
    
    main {
        width: 360px;        
    }
    nav{
        display: block;
        font-size: 40px;
        
        
    }
    nav > li {
        margin-right: 10px;
        background-color: #E3654A;
        border-radius: 8px;
        padding: 10px;
        margin-left: 5px;
    }
    nav li a {
        color: white;
    }
    .heroanim > a img{
        height: 170px;
    }
    .bb{
       /* border: black solid 1px;*/
    }
    .menuMobile {   
        width: 360px;
        padding-right: 300px;
        font-size: 40px;
        display: block;
        margin-top: -20px;
    }
    
    .logoOn > a img {
        padding: -15px;
        width: 171px;
    }
    .iconF{
        display: block;
    }
    .opcoesMenu {

        display: none;
    }
    
    .Dnone{
        display: none;
    }

    .produto {
        width: 150px;
        justify-content: space-between;
        margin-left: 12px;
        height: 390px;
        padding: 2px;
        
    }
    
    .produto img {
        width: 100%;
    }
    .produto h1{
        position: absolute;
        font-size: 12px;
        margin: 8px;
        padding: 5px;
        background-color: #E3654A;
        border-radius: 12px;
        color: white;
    }
    .produto h2{
        height: 35px;
        width: 100%;
        font-size: 12px;
        
    }
    .produto button {
        width: 120px;
        padding: 5px;
        margin: 10px;
        border: #E3654A solid 1px;
        border-radius: 3px;
        background-color: rgba(210, 105, 30, 0);
        cursor: pointer;
        color: #E3654A;
        transition: 200ms;
    }
    .buscaNatur {
        display: none;
    }
    
    .precoVelho{
        color: #E3654A;
        font-weight: 700;
        font-size: 15px;
    }
    .novoPreco{
        margin: 2px;
        color: rgb(40, 40, 40);
    }
    .novoPreco span {
        font-size: 20px;
        font-weight: 700;
    }
    .produto:hover{
        margin-top: 0px;
        box-shadow: none;
    }
    .whats > a i {
    
        margin: auto;
        color: #222222;
        background-color: #019a1290 ;
        border-radius: 10%;
        font-size: 60px;
        padding: 10px;
        margin-left: 75%;
        cursor: pointer;
        
    }
    
    .promohero > a img {
        
        min-height: 142px;
        
    }
    footer{
        width: 360px;
    }
    /*******Quem Somos *********/
        
        .depoimentos{
        background-image: url(https://img.freepik.com/vetores-gratis/fundo-natura-pintado-a-mao_589706-111.jpg);
        margin: auto;
        background-size: cover;        
        position: static;
        }
    .quem-somos{
        
        background-color: rgba(255, 255, 255, 0.795);
        height: 600px;
        filter: brightness(100%);
        display: block;
        width: 100%;
        justify-content: center;
        padding: 5px;
        position: static;
    }
    .qDireito{
        width: 100%;
        position: static;
        height: 10px;    
        text-align: center;
    
    }
    .qDireito > img{
        width: 150px;
    }

    .qMeio{
        width: 100%;
        margin-top: 200px;
        position: static;
        height: 10px;
        text-align: center;
        
    }
    .qMeio > p{
        background-color: yellow;
        color: rgb(0, 0, 0);

    }
    .qEsq{
        margin-top: 200px;
        width: 100%;
        align-content: center;
        position: static;
        text-align: center;   
    
    }
    .qEsq > button{
        margin-top: 20px;
        font-weight: 700;
        font-size: larger;
        padding: 10px;
        color: rgb(250, 233, 0);
        background-color: purple;
        border: none;
        border-radius: 8px;
    }





    /*****Fim quem somos ******/

}